<div class="loader-overlay" *ngIf="showLoader">
    <div class="spinner">
        <div class="cube">
            <div class="face"></div>
            <div class="face"></div>
            <div class="face"></div>
            <div class="face"></div>
            <div class="face"></div>
            <div class="face"></div>
            <!-- Particules -->
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
        </div>
    </div>
    <div class="loader-text">DynamoCraft</div>
</div>
