<nav class="navbar navbar-expand-xxl bg-dc-2">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/home">
            <img src="logo.png" alt="logo" width="75" height="75" class="d-inline-block align-text-top ms-2">
            <a class="navbar-brand font-dc text-white">DynamoCraft</a>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon text-white"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white font-dc fs-6 d-flex justify-content-center" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Catégories
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Catégorie 1</a></li>
                        <li><a class="dropdown-item" href="#">Catégorie 2</a></li>
                        <!-- <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li> -->
                    </ul>
                </li>
                <li class="nav-item ms-2">
                    <a class="nav-link disabled text-white font-dc fs-6 d-flex justify-content-center" aria-disabled="true">Nouveautés</a>
                </li>
                <li class="nav-item ms-2">
                    <a class="nav-link disabled text-white font-dc fs-6 d-flex justify-content-center" aria-disabled="true">Top 10</a>
                </li>
                <li class="nav-item ms-2">
                    <a class="nav-link disabled text-white font-dc fs-6 d-flex justify-content-center" aria-disabled="true">Recherche</a>
                </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item d-flex justify-content-center">
                    <button type="button" class="btn btn-warning m-1">Admin</button>
                </li>
                <li class="nav-item d-flex justify-content-center">
                    <button type="button" class="btn btn-warning m-1">Authentification</button>
                </li>
            </ul>
        </div>
    </div>
</nav>