<div class="container d-flex justify-content-center align-items-center min-vh-75">
    <div class="col-md-6">
        <div class="card p-4 shadow-lg bg-dc-2">
            <h2 class="text-center text-warning mb-4 font-dc">Réinitialisation du Mot de Passe</h2>
            <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="needs-validation" novalidate>

                <!-- Ancien mot de passe -->
                <div class="form-floating mb-3 position-relative">
                    <input [type]="isOldPasswordVisible ? 'text' : 'password'" id="oldPassword" class="form-control"
                        placeholder="Ancien mot de passe" formControlName="oldPassword"
                        [class.is-invalid]="resetPasswordForm.get('oldPassword')?.invalid && resetPasswordForm.get('oldPassword')?.touched">
                    <label for="oldPassword">Ancien mot de passe</label>
                    <i (click)="toggleOldPasswordVisibility()"
                        [class]="isOldPasswordVisible ? 'bi bi-eye position-absolute end-0 top-50 translate-middle-y pe-3' : 'bi bi-eye-slash position-absolute end-0 top-50 translate-middle-y pe-3'"
                        style="cursor: pointer;"></i>
                    <div *ngIf="resetPasswordForm.get('oldPassword')?.invalid && resetPasswordForm.get('oldPassword')?.touched"
                        class="invalid-feedback">
                        L'ancien mot de passe est requis.
                    </div>
                </div>

                <!-- Nouveau mot de passe -->
                <div class="form-floating mb-3 position-relative">
                    <input [type]="isNewPasswordVisible ? 'text' : 'password'" id="newPassword" class="form-control"
                        placeholder="Nouveau mot de passe" formControlName="newPassword"
                        [class.is-invalid]="resetPasswordForm.get('newPassword')?.invalid && resetPasswordForm.get('newPassword')?.touched">
                    <label for="newPassword">Nouveau mot de passe</label>
                    <i (click)="toggleNewPasswordVisibility()"
                        [class]="isNewPasswordVisible ? 'bi bi-eye position-absolute end-0 top-50 translate-middle-y pe-3' : 'bi bi-eye-slash position-absolute end-0 top-50 translate-middle-y pe-3'"
                        style="cursor: pointer;"></i>
                    <div *ngIf="resetPasswordForm.get('newPassword')?.invalid && resetPasswordForm.get('newPassword')?.touched"
                        class="invalid-feedback">
                        Le mot de passe doit comporter au moins 8 caractères, inclure une majuscule, une minuscule, un chiffre et un caractère spécial.
                    </div>
                </div>

                <!-- Confirmation du nouveau mot de passe -->
                <div class="form-floating mb-3 position-relative">
                    <input [type]="isConfirmPasswordVisible ? 'text' : 'password'" id="confirmPassword"
                        class="form-control" placeholder="Confirmez le nouveau mot de passe"
                        formControlName="confirmPassword"
                        [class.is-invalid]="resetPasswordForm.get('confirmPassword')?.invalid && resetPasswordForm.get('confirmPassword')?.touched">
                    <label for="confirmPassword">Confirmez le nouveau mot de passe</label>
                    <i (click)="toggleConfirmPasswordVisibility()"
                        [class]="isConfirmPasswordVisible ? 'bi bi-eye position-absolute end-0 top-50 translate-middle-y pe-3' : 'bi bi-eye-slash position-absolute end-0 top-50 translate-middle-y pe-3'"
                        style="cursor: pointer;"></i>
                    <div *ngIf="resetPasswordForm.hasError('passwordMismatch') && resetPasswordForm.get('confirmPassword')?.touched"
                        class="invalid-feedback">
                        Les mots de passe ne correspondent pas.
                    </div>
                </div>

                <div *ngIf="errorMessage" class="alert alert-danger text-center">
                    {{ errorMessage }}
                </div>

                <button type="submit" class="btn btn-warning w-100 py-2 mt-3 font-dc"
                    [disabled]="resetPasswordForm.invalid">Valider</button>

            </form>
        </div>
    </div>
</div>
