<footer class="bg-dc-2 text-white text-center py-2 footer-gradient mt-5">
    <div class="container">
        <p class="mb-0 d-flex justify-content-center">&copy; 2024 DynamoCraft. Tous droits réservés.</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#" class="text-white">Politique de confidentialité</a></li>
            <li class="list-inline-item"><a href="#" class="text-white">Conditions d'utilisation</a></li>
            <li class="list-inline-item"><a href="#" class="text-white">Contact</a></li>
        </ul>
    </div>
</footer>