<div class="container min-vh-75 d-flex flex-column justify-content-center align-items-center">
    <!-- Hero Section -->
    <div class="hero text-center py-5 banner-image col-lg-12">
        <h1 class="display-3 font-dc text-white">Bienvenue sur DynamoCraft</h1>
    </div>

    <!-- Cards Section -->
    <div class="row w-100 justify-content-center mt-5">
        <div class="col-sm-12 col-md-4 mb-5">
            <div class="card-large shadow-lg card-hover couleur-main p-3">
                <div class="card-body text-center">
                    <h5 class="card-title font-dc text-white">Créativités</h5>
                    <p class="card-text text-black">Explorez une variété de modèles uniques, allant des œuvres d'art aux
                        gadgets innovants.</p>
                    <a href="#" class="btn btn-light font-dc">Voir plus</a>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-4 mb-5">
            <div class="card-large shadow-lg card-hover couleur-main p-3">
                <div class="card-body text-center">
                    <h5 class="card-title font-dc text-white">Partages</h5>
                    <p class="card-text text-black">Publiez vos créations et inspirez d'autres utilisateurs avec votre
                        talent unique.</p>
                    <a href="#" class="btn btn-light font-dc">Partager</a>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-4 mb-5">
            <div class="card-large shadow-lg card-hover couleur-main p-3">
                <div class="card-body text-center">
                    <h5 class="card-title font-dc text-white">Échanges</h5>
                    <p class="card-text text-black">Engagez-vous avec la communauté et partagez vos astuces pour
                        améliorer les créations.</p>
                    <a href="#" class="btn btn-light font-dc">Participer</a>
                </div>
            </div>
        </div>
    </div>
</div>