<div class="container">
    <div class="hero text-center py-5 banner-image col-lg-12">
        <h1 class="display-3">Bienvenue sur DynamoCraft</h1>
        <p class="lead d-flex justify-content-center">Explore des mods uniques, créations, et partage ton travail!</p>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-4 mb-5">
            <div class="card-large card-background mt-5">
                <div class="card-body">
                    <h5 class="card-title d-flex justify-content-center font-dc">Créativités</h5>
                    <p class="card-text text-black">Explorez une variété de modèles uniques, allant des œuvres d'art aux
                        gadgets
                        innovants. Téléchargez-les instantanément et donnez vie à vos propres idées. Notre plateforme
                        vous offre un accès illimité à une multitude de designs créés par des passionnés de l'impression
                        3D.</p>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-4 mb-5">
            <div class="card-large card-background mt-5">
                <div class="card-body">
                    <h5 class="card-title d-flex justify-content-center font-dc">Partages</h5>
                    <p class="card-text text-black">Sur notre plateforme, vous avez la possibilité de partager vos
                        propres modèles
                        d'impression 3D avec une communauté mondiale. Publiez vos créations, obtenez des retours
                        constructifs et inspirez d'autres utilisateurs avec votre talent unique.</p>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-4 mb-5">
            <div class="card-large card-background mt-5">
                <div class="card-body">
                    <h5 class="card-title d-flex justify-content-center font-dc">Echanges</h5>
                    <p class="card-text text-black">Ne vous contentez pas de créer, engagez-vous avec la communauté en
                        réagissant
                        aux impressions des autres utilisateurs. Laissez des commentaires, donnez des conseils et
                        partagez vos astuces pour améliorer encore plus les créations.</p>
                </div>
            </div>
        </div>
    </div>
</div>