<div class="container min-vh-75">
    <h2 class="text-center text-warning mb-4">Recherche de Projets</h2>

    <!-- Barre de recherche -->
    <div class="row mb-4 d-flex justify-content-center">
        <div class="col-10 col-md-6">
            <div class="input-group shadow-sm">
                <input type="text" class="form-control" placeholder="Rechercher un projet..." [(ngModel)]="searchQuery">
                <button class="btn btn-warning" type="button" (click)="onSearch()">Rechercher</button>
            </div>
        </div>
    </div>

    <!-- Affichage des projets -->
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 justify-content-center">
        @for (projet of projects; track projet.id) {
        <div class="col d-flex align-items-stretch">
            <a routerLink="/projet/detail/{{ projet.id }}" class="text-decoration-none w-100">
                <div class="card-hover image-container rounded h-100 text-center shadow-sm border-0">
                    @if (projet.imageProjet && projet.imageProjet.length > 0) {
                    <img [src]="url + projet.imageProjet[0].nom" class="card-img-top rounded" alt="Image du projet">
                    } @else {
                    <p class="text-muted">Pas d'image disponible</p>
                    }
                    <div
                        class="hover-content d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100">
                        <i class="bi bi-eye text-white" style="font-size: 2rem;"></i>
                        <p class="file-name text-white text-center mt-2">{{ projet.nom }}</p>
                    </div>
                </div>
            </a>
        </div>
        }
    </div>

    <!-- Pagination -->
    <div class="row mt-5">
        <nav aria-label="Pagination" class="d-flex justify-content-center">
            <ul class="pagination pagination-lg">
                <li class="page-item" [class.disabled]="page === 1">
                    <button class="page-link shadow-sm" (click)="prevPage()">Précédent</button>
                </li>
                <li class="page-item disabled">
                    <span class="page-link shadow-sm bg-dark text-white">Page {{ page }} sur {{ totalPages }}</span>
                </li>
                <li class="page-item" [class.disabled]="page === totalPages">
                    <button class="page-link shadow-sm" (click)="nextPage()">Suivant</button>
                </li>
            </ul>
        </nav>
    </div>
</div>