<!-- Barre de recherche -->
<div class="row mb-4 justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
        <div class="input-group shadow-lg rounded">
            <input type="text" class="form-control form-control-lg bg-dc-2 text-warning border-0 shadow-sm"
                placeholder="Rechercher un projet..." [(ngModel)]="searchQuery"
                (ngModelChange)="onSearchQueryChange($event)">
            <button class="btn btn-outline-warning dropdown-toggle dropdown-toggle-split bg-dc-2 text-warning shadow-sm"
                type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="visually-hidden">Options</span>
            </button>
            <ul class="dropdown-menu dropdown-menu-end bg-dc-2 shadow-lg">
                <li><a class="dropdown-item text-warning" (click)="onOptionChange('all')">
                        <i class="bi bi-collection me-2"></i> Tous les projets
                    </a></li>
                <li>
                    <hr class="dropdown-divider border-warning">
                </li>
                <li *ngFor="let categorie of categories">
                    <a class="dropdown-item d-flex align-items-center text-warning"
                        (click)="onOptionChange(categorie.nom)">
                        <img [src]="'assets/png/Categories/' + categorie.nom + '.png'" alt="{{ categorie.nom }}"
                            class="category-icon me-2" style="width: 20px; height: 20px;">
                        {{ categorie.nom }}
                    </a>
                </li>
            </ul>
            <button class="btn btn-warning shadow-sm" type="button" (click)="onSearch()">
                <i class="bi bi-search text-light"></i>
            </button>
        </div>
    </div>
</div>

<!-- Section de résultats -->
<div class="bg-dc-2 rounded-3">
    <!-- Affichage des projets ou message si aucun projet trouvé -->
    <div *ngIf="projects.length > 0; else noProjects"
        class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 justify-content-center">
        <div *ngFor="let projet of projects; trackBy: trackByProjet" class="col d-flex align-items-stretch">
            <a routerLink="/projet/detail/{{ projet.id }}" class="text-decoration-none w-100">
                <div class="card-hover image-container rounded h-100 text-center shadow-sm border-0 position-relative">
                    <img *ngIf="projet.imageProjet && projet.imageProjet.length > 0"
                        [src]="url + projet.imageProjet[0].nom" class="card-img-top rounded" alt="Image du projet">
                    <p *ngIf="!projet.imageProjet || projet.imageProjet.length === 0" class="text-muted p-4">Pas d'image
                        disponible</p>
                    <div
                        class="hover-content d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100">
                        <i class="bi bi-eye text-white" style="font-size: 2rem;"></i>
                        <p class="file-name text-white text-center mt-2">{{ projet.nom }}</p>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <!-- Message si aucun projet n'est trouvé -->
    <ng-template #noProjects>
        <div class="d-flex flex-column justify-content-center align-items-center text-center p-5 border border-warning"
            style="height: 70vh;">
            <i class="bi bi-exclamation-triangle-fill text-warning" style="font-size: 4rem;"></i>
            <h3 class="text-warning mt-3">Aucun projet trouvé</h3>
            <p class="text-warning mt-2">Aucun projet ne correspond à votre recherche "{{ searchQuery }}"</p>
        </div>
    </ng-template>

    <!-- Pagination -->
    <div class="row mt-5">
        <nav aria-label="Pagination" class="d-flex justify-content-center">
            <ul class="pagination pagination-lg">
                <li class="page-item" [class.disabled]="!canGoToPrevPage()">
                    <button class="page-link shadow-sm" (click)="prevPage()">Précédent</button>
                </li>
                <li class="page-item disabled">
                    <span class="page-link shadow-sm bg-dark text-white">Page {{ page }} sur {{ totalPages }}</span>
                </li>
                <li class="page-item" [class.disabled]="!canGoToNextPage()">
                    <button class="page-link shadow-sm" (click)="nextPage()">Suivant</button>
                </li>
            </ul>
        </nav>
    </div>
</div>