<div class="container-fluid text-light py-5">
    <div class="container bg-custom-dark py-4 px-5 rounded-custom">

        <h2 class="text-warning text-uppercase mb-4">Conditions Générales d'Utilisation</h2>

        <p>
            Bienvenue sur DynamoCraft. En utilisant notre plateforme, vous acceptez de respecter les présentes
            Conditions Générales d'Utilisation.
            Ces conditions régissent votre utilisation de DynamoCraft et définissent vos droits et obligations en tant
            qu'utilisateur.
        </p>

        <h3 class="text-warning text-uppercase mt-5 mb-4">Utilisation de la Plateforme</h3>
        <p>
            DynamoCraft est une plateforme d’échange gratuit de modèles d’impression 3D. L’utilisation de nos services
            est soumise au respect des règles et lois en vigueur.
            Il est strictement interdit de publier du contenu illégal, injurieux ou portant atteinte aux droits
            d’autrui.
            Toute activité frauduleuse ou non conforme pourra entraîner la suspension ou la suppression de votre compte.
        </p>
        <p>
            L'échange de modèles sur la plateforme est entièrement gratuit. Il est interdit de revendre ou de
            redistribuer les fichiers téléchargés via DynamoCraft à des fins commerciales.
        </p>

        <h3 class="text-warning text-uppercase mt-5 mb-4">Création de Compte</h3>
        <p>
            Pour accéder à certaines fonctionnalités, vous devez créer un compte sur DynamoCraft. Vous vous engagez à
            fournir des informations exactes lors de votre inscription et à maintenir la confidentialité de votre mot de
            passe.
            En cas d'utilisation non autorisée de votre compte, vous êtes tenu de nous en informer immédiatement.
        </p>

        <h3 class="text-warning text-uppercase mt-5 mb-4">Responsabilités des Utilisateurs</h3>
        <p>
            Vous êtes seul responsable des conséquences de l'utilisation des modèles téléchargés sur DynamoCraft. Il est
            de votre responsabilité de vous assurer que l’utilisation des modèles respecte les lois en vigueur dans
            votre pays.
            DynamoCraft décline toute responsabilité concernant l’utilisation illégale des modèles présents sur la
            plateforme.
        </p>

        <h3 class="text-warning text-uppercase mt-5 mb-4">Droits de Propriété Intellectuelle</h3>
        <p>
            Tous les contenus disponibles sur DynamoCraft, incluant les modèles, textes, images, et logiciels, sont
            protégés par les lois sur la propriété intellectuelle.
            Vous ne pouvez utiliser ces contenus qu’à des fins personnelles et non commerciales, sauf autorisation
            expresse de leurs propriétaires respectifs.
        </p>

        <h3 class="text-warning text-uppercase mt-5 mb-4">Sécurité et Protection des Données</h3>
        <p>
            DynamoCraft prend la sécurité des données très au sérieux. Nous utilisons des technologies telles que le
            hachage et le salage des mots de passe pour assurer la protection de vos informations personnelles.
            Les données de session sont stockées de manière sécurisée dans le local storage de votre navigateur.
        </p>
        <p>
            En cas de modification substantielle de nos conditions d’utilisation ou de notre politique de
            confidentialité, nous vous en informerons par email et lors de votre prochaine connexion.
            Vous devrez accepter les nouvelles conditions pour continuer à utiliser nos services.
        </p>

        <h3 class="text-warning text-uppercase mt-5 mb-4">Résiliation</h3>
        <p>
            Vous pouvez résilier votre compte à tout moment en demandant la suppression de vos données personnelles.
            DynamoCraft se réserve le droit de suspendre ou de résilier votre compte si vous ne respectez pas ces
            Conditions Générales d'Utilisation.
        </p>

        <h3 class="text-warning text-uppercase mt-5 mb-4">Droit Applicable</h3>
        <p>
            Ces conditions sont régies par les lois en vigueur en Belgique. En cas de litige, celui-ci sera soumis à la
            compétence exclusive des tribunaux belges.
        </p>

        <h3 class="text-warning text-uppercase mt-5 mb-4">Contact</h3>
        <p>
            Si vous avez des questions concernant ces conditions générales d'utilisation ou si vous avez besoin
            d'assistance, vous pouvez nous contacter à l'adresse suivante :
            <strong>equipe.dynamocraft&#64;gmail.com</strong>.
        </p>

    </div>
</div>