<div class="container d-flex justify-content-center align-items-center min-vh-75">
    <div class="col-md-6">
        <div class="card p-4 shadow-lg bg-dc-2">
            <h2 class="text-center text-warning mb-4 font-dc">Connexion</h2>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="needs-validation" novalidate>
                <div class="form-floating mb-3">
                    <input type="email" id="email" class="form-control" placeholder="name@example.com"
                        formControlName="email"
                        [class.is-invalid]="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
                    <label for="email">Email</label>
                    <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched"
                        class="invalid-feedback">
                        Un email valide est requis.
                    </div>
                </div>

                <div class="form-floating mb-3 position-relative">
                    <input [type]="isPasswordVisible ? 'text' : 'password'" id="password" class="form-control"
                        placeholder="Mot de passe" formControlName="password"
                        [class.is-invalid]="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
                    <label for="password">Mot de passe</label>
                    <i (click)="togglePasswordVisibility()"
                        [class]="isPasswordVisible ? 'bi bi-eye position-absolute end-0 top-50 translate-middle-y pe-3' : 'bi bi-eye-slash position-absolute end-0 top-50 translate-middle-y pe-3'"
                        style="cursor: pointer;"></i>
                    <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
                        class="invalid-feedback">
                        Le mot de passe doit comporter au moins 6 caractères.
                    </div>
                </div>

                <div *ngIf="errorMessage" class="alert alert-danger text-center">
                    {{ errorMessage }}
                </div>

                <button type="submit" class="btn btn-warning w-100 py-2 mt-3 font-dc">Valider</button>

                <div class="text-center mt-3">
                    <a href="#" class="link-warning">Mot de passe oublié ?</a>
                </div>
            </form>
        </div>
    </div>
</div>