@font-face {
    font-family: 'ethnocentric';
    src: url('./assets/fonts/ethnocentric.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

$couleur-fond: rgb(35, 35, 35);
$couleur-fond-2: rgb(25, 25, 25);
$couleur-main: rgb(227, 178, 0);

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: white;
}

.banner-image {
    width: 100%;
    height: 800px;
    background-image: url('./assets/png/mainPage.png');
    background-size: cover;
    background-position: center;
}

h5,
h2,
.font-dc,
h3 {
    text-decoration: none;
    font-family: 'ethnocentric', sans-serif;
    color: white;
    text-transform: uppercase;
}

p {
    text-align: justify;
    overflow: none;
    line-height: 1.6;
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
}

.bg-dc {
    background-color: $couleur-fond;
}

.bg-dc-2,
.bg-custom-dark {
    background-color: $couleur-fond-2;
    color: #ffffff;
}

.header-gradient,
.footer-gradient {
    position: relative;
    padding-bottom: 100px;
}

.header-gradient::before,
.footer-gradient::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 10px;
    background: linear-gradient(to bottom, black, transparent);
}

.mt-fixed {
    padding-top: 5rem;
}


.footer-gradient::before {
    top: -10px;
    background: linear-gradient(to top, black, transparent);
}

.blurred-border {
    position: relative;
    display: inline-block;

    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        border-radius: 50px;
        box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
        filter: blur(10px);
    }

    &::after {
        filter: blur(20px);
    }
}

.card-body {
    line-height: 2.2;
}

ul.nav .nav-link {
    position: relative;
    text-decoration: none;
    color: white;
    transition: color 0.3s, transform 0.3s;

    &::after {
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        bottom: 0;
        left: 50%;
        background-color: $couleur-main;
        transition: width 0.3s, left 0.3s;
    }

    &:hover {
        color: $couleur-main;
        transform: scale(1.2);

        &::after {
            width: 100%;
            left: 0;
        }
    }
}

.dropdown-menu,
.dropdown-menu-style {
    background-color: $couleur-main;
    border: none;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    color: black;
    font-family: 'ethnocentric', sans-serif;
    font-size: 1rem;
}

.dropdown-item:hover,
.dropdown-item:focus {
    color: white;
    background-color: $couleur-fond-2;
}

.invalid-feedback,
.text-warning,
.link-warning {
    color: lighten($couleur-main, 40%) !important;
}

.form-floating .form-control {
    background-color: transparent;
    border: 1px solid $couleur-main;
    color: white;
    transition: border-color 0.3s, box-shadow 0.3s;

    &:focus {
        border-color: $couleur-main;
        box-shadow: 0 0 0 0.25rem rgba(227, 178, 0, 0.25);
    }
}

.form-floating label {
    color: #b2b2b2;
}

.card-hover {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    border-radius: 20px;
    background-color: $couleur-fond-2;
    position: relative;
    overflow: hidden;

    &:hover {
        transform: scale(1.05);
        box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.25);
    }
}

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
    transition: opacity 0.3s ease;
}

.card-hover:hover .card-img-top {
    opacity: 0.7;
}

.hover-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    cursor: pointer;
}

.card-hover:hover .hover-content {
    opacity: 1;
}

.hover-content i {
    font-size: 2rem;
    color: white;
}

.hover-content p {
    margin-top: 10px;
    font-family: 'ethnocentric', sans-serif;
    font-size: 1rem;
    color: $couleur-main;
}

.file-name {
    color: white;
    font-size: 0.9rem;
    text-align: center;
    margin-top: 10px;
}

.profile-image-wrapper {
    position: relative;
    width: 220px;
    height: 220px;
    margin: 0 auto;
}

.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    transition: opacity 0.3s ease;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8rem;
    color: white;
    border-radius: 15px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.profile-image-wrapper:hover .overlay {
    opacity: 1;
}

.btn-warning,
.hero .btn-warning,
.btn-light {
    background-color: $couleur-main;
    border: none;
    transition: background-color 0.3s ease, transform 0.3s ease;

    &:hover {
        background-color: darken($couleur-main, 10%);
        transform: scale(1.05);
    }
}

.btn-dark {
    background-color: #212529;
    border: none;
    color: #fff;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #343a40;
    }
}

.shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.image-container {
    position: relative;

    &:hover .enlarge-btn {
        opacity: 1;
        visibility: visible;
    }
}

.enlarge-btn {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.image-container:hover .image-overlay {
    opacity: 1;
}

.min-vh-75 {
    min-height: 75vh;
}

.min-vh-90 {
    min-height: 90vh;
}

.rounded-custom {
    border-radius: 25px;
    padding: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.accordion-button {
    background-color: $couleur-fond-2;
    color: $couleur-main;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.accordion-body {
    background-color: rgb(45, 45, 45);
    color: #f8f9fa;
}

.text-warning {
    color: $couleur-main !important;
}

.pagination .page-link {
    color: $couleur-main;
    background-color: $couleur-fond;
    border: none;

    &:hover {
        color: darken($couleur-main, 10%);
        background-color: lighten($couleur-fond, 5%);
    }
}

.pagination .disabled .page-link {
    color: #ccc;
}

.number-circle {
    font-size: 1.5rem;
    font-weight: bold;
}

.gold {
    background: linear-gradient(45deg, #FFD700, #FFC107);
}

.silver {
    background: linear-gradient(45deg, #C0C0C0, #B0B0B0);
}

.bronze {
    background: linear-gradient(45deg, #CD7F32, #D2691E);
}

.bg-dc-2 {
    background-color: rgb(25, 25, 25);
}

.card-hover {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    background-color: rgba(45, 45, 45, 0.8);
    position: relative;
    overflow: hidden;
    border-radius: 25px;
}

.card-hover:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.rounded-custom {
    border-radius: 25px;
    padding: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.5) !important;
}

.profile-circle img {
    transition: transform 0.3s ease;
}

.profile-circle:hover img {
    transform: scale(1.1);
}

.badge.bg-gold {
    background-color: #FFD700;
    color: #000;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
}

.bg-dc-2 {
    background-color: rgb(25, 25, 25);
}

.shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.5) !important;
}

.rounded-custom {
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.btn-warning {
    background-color: $couleur-main;
    border: none;
    transition: all 0.3s ease;

    &:hover {
        background-color: darken($couleur-main, 10%);
        transform: scale(1.05);
    }
}

.no-comments {
    background-color: rgba(35, 35, 35, 0.9);
    font-family: 'ethnocentric', sans-serif;
    border: 2px solid $couleur-main;
    border-radius: 25px;
    padding: 40px;
    color: $couleur-main;
    text-align: center;
}

h5 {
    font-size: 1.5rem;
    color: $couleur-main;
    margin-top: 20px;
}

i {
    color: $couleur-main;
}

.thumbnail-wrapper {
    display: inline-block;
    padding: 5px;
    transition: transform 0.3s ease;
}

.thumbnail-wrapper:hover {
    transform: scale(1.1);
}

.overflow-hidden {
    white-space: nowrap;
    overflow-x: hidden;
}

.thumbnail-3d {
    width: 80px;
    height: 80px;
    background-color: $couleur-fond-2;
    display: flex;
    align-items: center;
    border-radius: 8px;
    justify-content: center;
    cursor: pointer;
}

.thumbnail-3d i {
    font-size: 3rem;
    color: white;
}

.row.align-items-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.col-auto {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-lg {
    font-size: 3rem;
    /* Augmente la taille des icônes */
    color: black;
    /* Icônes noires */
}

.icon-container {
    cursor: pointer;
    padding: 10px;
}

.active-tab {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.custom-table {
    background-color: $couleur-fond;
    font-family: 'ethnocentric', sans-serif;
    /* Assurez-vous que la police 'ethnocentric' est correctement appliquée */
}

.custom-table thead th,
.custom-table tbody td {
    border-color: #FFD700;
    /* Couleur or pour les bordures */
    color: #FFD700;
    /* Texte couleur or */
}

.custom-table {
    background-color: $couleur-fond;
    font-family: 'ethnocentric', sans-serif;

    thead th {
        border-color: #FFD700;
        color: #FFD700;
        background-color: $couleur-fond-2;
    }

    tbody td {
        border-color: #FFD700;
        color: #ffffff;
    }

    tbody tr:nth-of-type(odd) {
        background-color: rgba(255, 215, 0, 0.1);
    }

    tbody tr:nth-of-type(even) {
        background-color: rgba(255, 215, 0, 0.05);
    }
}

.table-dark {
    background-color: $couleur-fond-2;
    color: #ffffff;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(255, 215, 0, 0.1);
    /* Légère teinte or pour les lignes impaires */
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: rgba(255, 215, 0, 0.05);
    /* Légère teinte or pour les lignes paires */
}

.no-models {
    background-color: $couleur-fond;
    /* Même couleur de fond que la vue */
    color: #FFD700;
    /* Couleur du texte or */
}

.table-wrapper {
    min-height: 30vh;
    overflow-y: auto;
    position: relative;
}

.table-fixed-header thead th {
    position: sticky;
    top: 0;
    background-color: $couleur-fond;
    /* Fond des headers */
    z-index: 10;
    text-transform: uppercase;
    border-bottom: 2px solid $couleur-main;
}



/* Scrollbar stylisée */
.table-wrapper::-webkit-scrollbar {
    width: 12px;
}

.table-wrapper::-webkit-scrollbar-track {
    background: #444;
}

.table-wrapper::-webkit-scrollbar-thumb {
    background-color: #FFD700;
    border-radius: 10px;
    border: 3px solid #333;
}

.no-models {
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.icon-highlight {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 5px;
    border-radius: 50%;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.icon-highlight:hover {
    background-color: rgba(255, 255, 255, 0.5);
    transform: scale(1.2);
    /* Agrandissement sur survol */
}

.highlight-comment {
    border: 2px solid #ffc107;
    transition: border 0.5s ease-in-out;
}

.profile-image-wrapper {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.profile-image-wrapper:hover .profile-image {
    transform: scale(1.1);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 50%;
}

.profile-image-wrapper:hover .overlay {
    opacity: 1;
}

.hauteur-30 {
    min-height: 30vh;
}

.hover-content {
    transition: opacity 0.3s ease;
}

.card-hover:hover .hover-content {
    opacity: 1;
}

.custom-select-orange {
    background-image: linear-gradient(45deg, transparent 50%, orange 50%),
        linear-gradient(135deg, orange 50%, transparent 50%);
    background-position: calc(100% - 20px) calc(1em + 5px), calc(100% - 15px) calc(1em + 5px);
    background-size: 5px 5px, 5px 5px;
    background-repeat: no-repeat;
    color: #fff;
    border-color: orange;
    padding-right: 2.5rem;
}

.custom-select-orange:focus {
    border-color: orange;
    box-shadow: 0 0 0 0.25rem rgba(255, 165, 0, 0.25);
}

/* Empêche le changement de couleur de fond sur focus ou hover pour les inputs, selects et textareas */
input.form-control,
select.form-select,
textarea.form-control {
    background-color: var(--bs-dark);
    /* Ou utilisez une couleur spécifique que vous souhaitez */
    color: var(--bs-warning);
    /* Ou utilisez la couleur de texte souhaitée */
    border-color: var(--bs-dark);
    /* Assurez-vous que la bordure reste conforme à votre thème */
}

/* Empêche le changement de couleur de fond sur focus */
input.form-control:focus,
select.form-select:focus,
textarea.form-control:focus {
    background-color: var(--bs-dark);
    color: var(--bs-warning);
    border-color: var(--bs-warning);
    /* Assurez-vous que la bordure sur focus est cohérente avec votre thème */
    box-shadow: none;
    /* Supprime l'ombre par défaut */
}

/* Empêche le changement de couleur de fond sur hover */
input.form-control:hover,
select.form-select:hover,
textarea.form-control:hover {
    background-color: var(--bs-dark);
    color: var(--bs-warning);
    border-color: var(--bs-warning);
    /* Assurez-vous que la bordure sur hover est cohérente avec votre thème */
}

/* Désactive les transitions de couleurs pour éviter les changements brusques */
input.form-control,
select.form-select,
textarea.form-control {
    transition: background-color 0s, color 0s, border-color 0s;
}