@font-face {
    font-family: 'ethnocentric';
    src: url('./assets/fonts/ethnocentric.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

$couleur-fond: rgb(35, 35, 35);
$couleur-fond-2: rgb(25, 25, 25);
$couleur-main: rgb(227, 178, 0);

.couleur-fond-2{
    background-color: $couleur-fond-2;
}

.couleur-main{
    background-color: $couleur-main;
}

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: white;
}

h5{
    text-decoration: none;
    color:  white;
}

p {
    text-align: justify;
    overflow: none;
}

.banner-image {
    width: 100%;
    height: 800px;
    background-image: url('./assets/png/mainPage.png');
    background-size: cover;
    background-position: center;
}

.bg-dc {
    background-color: $couleur-fond;
}

.bg-dc-2 {
    background-color: $couleur-fond-2;
}

.header-gradient,
.footer-gradient {
    position: relative;
}

.header-gradient::before,
.footer-gradient::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 10px;
    background: linear-gradient(to bottom, black, transparent);
}

.footer-gradient::before {
    top: -10px;
    background: linear-gradient(to top, black, transparent);
}

.blurred-border {
    position: relative;
    display: inline-block;

    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        border-radius: 50px;
        box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
        filter: blur(10px);
    }

    &::after {
        filter: blur(20px);
    }
}

.blurred-image {
    display: block;
}

.card-body {
    line-height: 2.2;
}

ul.nav .nav-link {
    position: relative;
    text-decoration: none;
    color: white;
    transition: color 0.3s, transform 0.3s;

    &::after {
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        bottom: 0;
        left: 50%;
        background-color: $couleur-main;
        transition: width 0.3s, left 0.3s;
    }

    &:hover {
        color: $couleur-main;
        transform: scale(1.2);

        &::after {
            width: 100%;
            left: 0;
        }
    }
}

.dropdown-menu {
    background-color: $couleur-main;
    border: none;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.dropdown-item {
    color: #333;
    transition: background-color 0.3s, color 0.3s;

    &:hover,
    &:focus {
        color: white;
        background-color: $couleur-fond-2;
    }
}

.font-dc {
    font-family: 'ethnocentric', Courier, monospace;
}

/* Variantes de tailles pour les cartes */

/* Taille petite */
.card-small {
    height: 100%;
    width: 100%;
    max-width: 200px; /* Taille réduite pour petite */
    background-color: $couleur-main;
    overflow: hidden;
    position: relative;
    border: none;
    text-align: center;
    transition: all 0.3s ease-in-out;

    &:hover {
        color: white;
        background-color: $couleur-main;
        transform: scale(1.05);
        z-index: 1;
    }

    .card-img-top {
        transition: transform 0.3s ease;
        width: 100%;
        height: auto;
        max-height: 150px; /* Taille réduite de l'image pour petite */
    }

    &:hover .card-img-top {
        transform: scale(1.1);
    }

    .card-img-overlay {
        position: absolute;
        bottom: 0;
        width: 100%;
        color: white;
        padding: 10px;
        transition: background 0.3s ease, opacity 0.3s ease;
        text-align: center;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        opacity: 0;
    }

    &:hover .card-img-overlay {
        background: rgba(0, 0, 0, 0.5);
        opacity: 1;
    }

    .card-text {
        display: flex;
        flex-direction: column;
        font-weight: bold;
        color: black;
        transition: all 0.3s ease-in-out;
        border-radius: 5px;
    }
}

/* Taille moyenne (comme avant) */
.card-medium {
    height: 100%;
    width: 100%;
    max-width: 300px; /* Taille moyenne */
    background-color: $couleur-main;
    overflow: hidden;
    position: relative;
    border: none;
    text-align: center;
    transition: all 0.3s ease-in-out;

    &:hover {
        color: white;
        background-color: $couleur-main;
        transform: scale(1.05);
        z-index: 1;
    }

    .card-img-top {
        transition: transform 0.3s ease;
        width: 100%;
        height: auto;
        max-height: 250px; /* Taille moyenne de l'image */
    }

    &:hover .card-img-top {
        transform: scale(1.1);
    }

    .card-img-overlay {
        position: absolute;
        bottom: 0;
        width: 100%;
        color: white;
        padding: 10px;
        transition: background 0.3s ease, opacity 0.3s ease;
        text-align: center;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        opacity: 0;
    }

    &:hover .card-img-overlay {
        background: rgba(0, 0, 0, 0.5);
        opacity: 1;
    }

    .card-text {
        display: flex;
        flex-direction: column;
        font-weight: bold;
        color: black;
        transition: all 0.3s ease-in-out;
        border-radius: 5px;
    }
}

/* Taille grande */
.card-large {
    height: 100%;
    width: 100%;
    max-width: 400px; /* Taille large */
    background-color: $couleur-main;
    overflow: hidden;
    position: relative;
    border: none;
    text-align: center;
    transition: all 0.3s ease-in-out;

    &:hover {
        color: white;
        background-color: $couleur-main;
        transform: scale(1.05);
        z-index: 1;
    }

    .card-img-top {
        transition: transform 0.3s ease;
        width: 100%;
        height: auto;
        max-height: 350px; /* Taille large de l'image */
    }

    &:hover .card-img-top {
        transform: scale(1.1);
    }

    .card-img-overlay {
        position: absolute;
        bottom: 0;
        width: 100%;
        color: white;
        padding: 10px;
        transition: background 0.3s ease, opacity 0.3s ease;
        text-align: center;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        opacity: 0;
    }

    &:hover .card-img-overlay {
        background: rgba(0, 0, 0, 0.5);
        opacity: 1;
    }

    .card-text {
        display: flex;
        flex-direction: column;
        font-weight: bold;
        color: black;
        transition: all 0.3s ease-in-out;
        border-radius: 5px;
    }
}

.card-hover {
    transition: transform 0.3s ease-in-out;
    &:hover {
        transform: scale(1.05);
    }
}

.profile-circle {
    transition: transform 0.3s ease-in-out;
    &:hover {
        transform: scale(1.1);
    }
}

.card-img-top,
.profile-circle img {
    transition: transform 0.3s ease-in-out;
    &:hover {
        transform: scale(1.1);
    }
}