<div class="container min-vh-75">
    <h1 class="font-dc text-center text-warning mb-4">Mes réalisations</h1>

    <!-- Affichage des réalisations paginées -->
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 justify-content-center">
        @for (realisation of paginatedRealisations; track realisation.id) {
        <div class="col d-flex align-items-stretch">
            <a routerLink="/projet/detail/{{realisation.id}}" class="text-decoration-none w-100">
                <div class="card h-100 text-center shadow-sm border-0 card-hover rounded">
                    @if (realisation.imageProjet && realisation.imageProjet.length > 0) {
                    <img [src]="url + realisation.imageProjet[0].nom" class="card-img-top rounded" alt="Image de la réalisation">
                    } @else {
                    <p class="text-muted">Pas d'image disponible</p>
                    }
                    <div class="hover-content">
                        <i class="bi bi-eye"></i>
                        <p class="file-name">{{ realisation.nom | slice: 0: 20 }}...</p>
                    </div>
                </div>
            </a>
        </div>
        }
    </div>

    <!-- Pagination -->
    <div class="row mt-5">
        <nav aria-label="Pagination" class="d-flex justify-content-center">
            <ul class="pagination pagination-lg">
                <li class="page-item" [class.disabled]="page === 1">
                    <button class="page-link shadow-sm" (click)="prevPage()">Précédent</button>
                </li>
                <li class="page-item disabled">
                    <span class="page-link shadow-sm bg-dark text-white">Page {{ page }} sur {{ totalPages }}</span>
                </li>
                <li class="page-item" [class.disabled]="page === totalPages">
                    <button class="page-link shadow-sm" (click)="nextPage()">Suivant</button>
                </li>
            </ul>
        </nav>
    </div>
</div>
