<div class="container-fluid d-flex justify-content-center">
    <div class="col-9 mt-5">
        <h1 class="font-dc d-flex justify-content-center mb-5">Nouveautés</h1>
        <div class="row g-4 d-flex justify-content-center">
            @for (nouveaute of nouveautes; track nouveaute.id) {
            <div class="col-sm-6 col-md-4 col-lg-3 mb-4 d-flex align-items-center justify-content-center">
                <a routerLink="/home">
                    <div class="card-medium">
                        @if (nouveaute.ImageProjet && nouveaute.ImageProjet.length > 0) {
                        <img [src]="url + nouveaute.ImageProjet[0].nom" class="card-img-top" alt="Image du projet">
                        } @else {
                        <p>Pas d'image disponible</p>
                        }
                    </div>
                    <h5 class="font-dc text-center mt-3">{{nouveaute.nom}}</h5>
                </a>
            </div>
            }
        </div>
    </div>
</div>
