<div class="container min-vh-75">
    <h1 class="font-dc text-center text-warning mb-4">Nouveautés</h1>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 justify-content-center">
        @for (nouveaute of nouveautes; track nouveaute.id) {
        <div class="col d-flex align-items-stretch">
            <a routerLink="/projet/detail/{{nouveaute.id}}" class="text-decoration-none w-100">
                <div class="card-hover image-container rounded h-100 text-center shadow-sm border-0">
                    @if (nouveaute.imageProjet && nouveaute.imageProjet.length > 0) {
                    <img [src]="url + nouveaute.imageProjet[0].nom" class="card-img-top rounded" alt="Image du projet">
                    } @else {
                    <p class="text-muted">Pas d'image disponible</p>
                    }
                    <div
                        class="hover-content d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100">
                        <i class="bi bi-eye text-white" style="font-size: 2rem;"></i>
                        <p class="file-name text-white text-center mt-2">{{ nouveaute.nom | slice: 0: 20 }}...</p>
                    </div>
                </div>
            </a>
        </div>
        }
    </div>
</div>