<div class="container">
    <h2>Images du Projet</h2>

    <div class="mb-3">
        <label for="formFileMultiple" class="form-label">Sélectionner des images</label>
        <input class="form-control" type="file" id="formFileMultiple" (change)="onFileSelected($event)" multiple>
    </div>
    <button class="btn btn-primary mb-3" (click)="addImages()">Ajouter Images</button>
    <button class="btn btn-primary mb-3" (click)="getImages()">Charger Images</button>

    <div *ngIf="images.length > 0">
        <h3 class="my-4">Liste des Images</h3>
        <div class="row">
            <div class="col-md-4" *ngFor="let image of images">
                <div class="card mb-4 shadow-sm">
                    <img [src]="getImageUrl(image.nom)" class="card-img-top" alt="Image projet">
                    <div class="card-body">
                        <button class="btn btn-danger btn-sm" (click)="deleteImage(image.id)">Supprimer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
