<div class="container">
    <h2>Commentaires du Projet</h2>

    <div class="mb-3">
        <label for="description" class="form-label">Ajouter un commentaire</label>
        <textarea class="form-control" id="description" [(ngModel)]="currentDescription"></textarea>
        <button class="btn btn-primary mt-3" (click)="addCommentaire()">{{ editing ? 'Mettre à jour' : 'Ajouter' }} Commentaire</button>
        <button *ngIf="editing" class="btn btn-secondary mt-3" (click)="cancelEditing()">Annuler</button>
    </div>

    <div *ngIf="commentaires.length > 0">
        <h3 class="my-4">Liste des Commentaires</h3>
        <div class="list-group">
            <div class="list-group-item" *ngFor="let commentaire of commentaires">
                <p class="text-black">{{ commentaire.description }}</p>
                <button class="btn btn-info btn-sm" (click)="editCommentaire(commentaire)">Modifier</button>
                <button class="btn btn-danger btn-sm" (click)="deleteCommentaire(commentaire.id)">Supprimer</button>
            </div>
        </div>
    </div>
</div>
