<div class="container-fluid d-flex justify-content-center">
    <div class="col-9 mt-5">
        <h1 class="font-dc d-flex justify-content-center mb-5">Catégories</h1>
        <div class="row d-flex justify-content-center">
            @for (categorie of categories; track $index) {
            <div class="col-sm-6 col-md-4 col-lg-3 mb-4 d-flex align-items-center justify-content-center">
                <a routerLink="/home">
                    <div class="card">
                        <img src="assets/png/Categories/{{categorie.nom}}.png" class="card-img-top"
                            alt="{{categorie.nom}}">
                        <div class="card-img-overlay">
                            <h5 class="card-title font-dc fs-6">{{categorie.nom}}</h5>
                        </div>
                    </div>
                </a>
            </div>
            }
        </div>
    </div>
</div>