<div class="container mt-5">
    <!-- Liste des modèles ajoutés -->
    <div class="bg-dc rounded-custom shadow-lg">
        <div class="bg-warning p-3 rounded-top-custom">
            <h5 class="mb-0 text-dark text-center">Liste des modèles ajoutés</h5>
        </div>
        <!-- Vérification s'il y a des modèles ajoutés -->
        <ng-container *ngIf="addedModels.length > 0; else noAddedModelsTemplate">
            <div class="table-wrapper">
                <table class="table table-fixed-header custom-table table-striped table-dark">
                    <thead>
                        <tr class="text-gold text-center">
                            <!-- Colonne Nom -->
                            <th scope="col" (click)="sortData('nom', 'addedModels')" colspan="2">
                                Nom
                                <i [class]="getSortIcon('nom')" class="fs-3 text-warning ms-2"></i>
                            </th>
                            <!-- Colonne Commentaire Admin -->
                            <th scope="col" colspan="2">Commentaire Admin</th>
                            <!-- Colonne Statut -->
                            <th scope="col" (click)="sortData('statut.nom', 'addedModels')">
                                Statut
                                <i [class]="getSortIcon('statut.nom')"
                                    class="fs-3 text-success ms-2"></i>
                            </th>
                            <th scope="col">Détails</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let model of addedModels; let i = index" class="text-center align-middle">
                            <!-- Colonne Nom -->
                            <td colspan="2">{{ model.nom }}</td>
                            <!-- Colonne Commentaire Admin -->
                            <td colspan="2">
                                <textarea class="form-control bg-dark text-light" rows="2" readonly
                                    [ngStyle]="{'resize': 'none'}">{{ model.commentaire_admin || 'Pas de commentaire' }}</textarea>
                            </td>
                            <!-- Colonne Statut -->
                            <td>{{ model.statut!.nom }}</td>
                            <!-- Colonne Détails -->
                            <td>
                                <button class="btn btn-outline-warning btn-sm me-2"
                                    (click)="viewModelDetails(model.id)">
                                    <i class="bi bi-eye icon-custom icon-eye text-white"></i>
                                </button>
                                <button class="btn btn-outline-warning btn-sm me-2" (click)="editModel(model.id)">
                                    <i class="bi bi-pencil icon-custom icon-pencil text-white"></i>
                                </button>
                                <button class="btn btn-outline-danger btn-sm" (click)="deleteAddedModel(model)">
                                    <i class="bi bi-trash icon-custom icon-trash text-white"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </ng-container>
        <!-- Template affiché lorsqu'aucun modèle ajouté n'est présent -->
        <ng-template #noAddedModelsTemplate>
            <div class="no-models p-5 text-center border border-warning">
                <i class="bi bi-file-earmark-plus-fill text-warning display-3"></i>
                <h5 class="text-warning mt-4">Aucun modèle ajouté pour le moment.</h5>
            </div>
        </ng-template>
    </div>
</div>